<% if @word.definitions.any? %>
  <h3><%= @word.word %> definitions (<%= @word.definitions.count %>)</h3>
  <ul class ="definitions text-left">
    <% @word.definitions.each do |definition| %>
      <%= render definition %>
    <% end %>
  </ul>
<% else %>
  <% if @error_message %>
    <h3><%= @error_message %></h3>
  <% elsif @word.valid? == false %>
    <h3>Word entered is invalid.  Please enter new word without any spaces or special characters.</h3>
  <% else %>
    <h3>No definitions found.  Try a different word.</h3>
  <% end %>
<% end %>