<div class="entry text-center">
    <h1>
      <span class="blue">D</span><span class="red">o</span><span class="yellow">o</span><span class="blue">g</span><span class="green">l</span><span class="red">e</span>
    </h1>
    <%= form_for @word, remote: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_field :word, class: 'form-control doogle_input'%>
      <%= f.submit "Doogle", class: "btn btn-primary doogle_search" %>
    <% end %>
</div>

<div class ="text-center" id="definitions">
</div>