<!DOCTYPE html>
<html>
  <head>
    <title>DoogleApp</title>
    <%= render 'layouts/rails_default' %>
  </head>
  <body>

  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
  </body>
</html>
